<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="test.day1"/>
      <class name="test.ExceptionTimeoutTest"/>
      <class name="test.GoogleTitleTest1"/>
      <class name="test.TestNgFeatures"/>
      <class name="test.day4"/>
      <class name="test.day3"/>
      <class name="test.day2"/>
      <class name="test.TestNgBasics"/>
      <class name="test.GoogleTest"/>
      <class name="test.InvocationcountTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
